
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Time</th>
        <th>Total</th>
        <th>Status</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Date</td>
            <td>@item.Total</td>
            @{
                EComm.Enums.OrderStatus status = (EComm.Enums.OrderStatus)item.StatusId;
            }
            <td>@status.ToString()</td>
            <td>
                <a href="/order/details/@item.Id" class="btn btn-primary">Details</a>
                @if (item.StatusId == (int) EComm.Enums.OrderStatus.OrderPlaced) { 
                    <a href="/order/cancelbyuser/@item.Id" class="btn btn-danger">Cancel</a>
                }
                
            </td>
        </tr>
    }
</table>

