
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form method="post">
    <input type="text" class="form-control" placeholder="Name" name="Name" />
    <input type="text" class="form-control" placeholder="Cgpa" name="Cgpa" />
    <input type="date" class="form-control" placeholder="Dob" name="Dob" />
    <input type="submit" class="btn btn-danger" value="Create" />

</form>
